.dashboard {
    flex: 5;
    top: 70px;
    height: 1000px;
    /* background-color: rgb(221, 221, 221); */
}

.dashboard-wrapper {
    gap: 50px;
    padding-top: 80px;
    padding-left: 100px;
}

.dash-icon, h4, p {
    color: #454545;
}

.totalStudents {
    height: 200px;
    padding: 20px; 
    display: flex;
    align-items: center;
}
