.dashboard {
    flex: 5;
    top: 70px;
    background-color: #eeeeee;
}

.dashboard-wrapper {
    gap: 50px;
    padding-top: 80px;
    padding-left: 100px;
}

.dash-icon, h4, p {
    color: #454545;
}

.totalStudents {
    height: 200px;
    padding: 20px; 
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.totalStudents:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}