/* student*/

/*.leftBar {
    flex: 1;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    border-right: 1px solid #FFF4F4;
}


.menu {
    width: 200px;
    height: 100%;
    border-right: 1px solid rgb(81, 81, 81); 
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
}

.menu h4 {
    color: var(--text-color);
}

hr {
    margin: 20px 0px;
    border: none;
    height: 0.5px;
    background-color: #FFF4F4;
}

.house, 
.calendar,
.inventory-left,
.profile-left {
    display: flex;
    padding: 10px;
    gap: 12px;
}

.icon {
    color: #FFF4F4;
    margin-top: 3px;
}

.house:hover,
.calendar:hover,
.inventory-left:hover,
.profile-left:hover  {
    background-color: #FFF4F4;
    border-radius: 10px;
}

.house:hover .icon,
.house:hover h4,
.calendar:hover .icon,
.calendar:hover h4,
.inventory-left:hover .icon,
.inventory-left:hover h4,
.profile-left:hover .icon,
.profile-left:hover h4 {
    color: #516E53;

}*/
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; //
}*/



/*.list a{
 padding-left: 50px;
 width: 100%;
} */ 

.sidebar {
    flex: 1;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    border-right: 1px solid #FFF4F4;
    padding: 6px 10px;
    transition: all 0.5s ease;
    /* z-index: 1000; */
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px 0 0;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}

.list-leftbar {
    padding-left: 10px;
}

.sidebar ul li a {
    color: #516E53;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.nav_list {
    padding: 0;
}


/* .sidebar.active {
    width: 240px;
}

.sidebar .logo_content {
    color: #516E53;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
 
.sidebar .logo_content i {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar .logo_content  {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #516E53;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
} */

/*.sidebar ul li .tooltip{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: auto;
    min-width: 100px;
    background: #FFF4F4;
    padding: 8px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}*/



.sidebar ul li a:hover {
    color: #FFF4F4;
    background: #59775de3;   
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
}


.sidebar .links_name{
    opacity: 1; /* Make links_name visible */
    pointer-events: auto; /* Enable click events */
    transition: opacity 0.5s ease; /* Transition for opacity change */
    text-align: left;
    flex-grow: 1;
    padding-left: 10px;
}

.sidebar.active .links_name{
    opacity: 0; /* Hide links_name when sidebar is collapsed */
    pointer-events: auto; /* Disable click events */
}
/*.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
     /* Adjust width accordingly 
    left: 240px; /* Adjust left accordingly 
    transition: all 0.5s ease;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #FFF4F4;
    margin: 12px;
}

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}*/


/*Link {
    text-decoration: none;
}*/



@media (max-width: 1200px) {
    .sidebar {
        width: 180px;
        display: none;
    }

    .sidebar ul li:hover .tooltip{
        opacity: 1;
        top: 15%;
    }

}



@media (max-width: 768px) {
    .sidebar {
        width: 78px;
    }
    .sidebar ul li:hover .tooltip{
        opacity: 1;
        top: 15%;
    }
    .sidebar ul li .links_name {
        display: none;
      }
}

