.sidebar {
    flex: 1;
    position: sticky;
    top: 72px;
    left: 0;
    height: calc(100vh - 72px);
    border-right: 1px solid #3b55343b;
    background: #fff;
    padding: 6px 10px;
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px 0 0;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}

.list-leftbar {
    padding-left: 10px;
}

.sidebar ul li a {
    color: #516E53;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.nav_list {
    padding: 0;
}

.sidebar ul li a:hover {
    color: #FFF4F4;
    background: #59775de3;   
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
}


.sidebar .links_name{
    opacity: 1; /* Make links_name visible */
    pointer-events: auto; /* Enable click events */
    transition: opacity 0.5s ease; /* Transition for opacity change */
    text-align: left;
    flex-grow: 1;
    padding-left: 10px;
}

.sidebar.active .links_name{
    opacity: 0; /* Hide links_name when sidebar is collapsed */
    pointer-events: auto; /* Disable click events */
}


@media (max-width: 1200px) {
    .sidebar {
        width: 180px;
    }

    .sidebar ul li:hover .tooltip{
        opacity: 1;
        top: 15%;
    }

}



@media (max-width: 768px) {
    .sidebar {
        width: 78px;
        display: none;
    }
    .sidebar ul li:hover .tooltip{
        opacity: 1;
        top: 15%;
    }
    .sidebar ul li .links_name {
        display: none;
      }
}

