* {
    max-width: 100%;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.navbar-2 {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-student {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

.profile {
    background-color: rgb(67, 88, 67);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.menu-icon {
    width: 20px;
    height: auto;
    margin-right: 30px;
    color: #454545;
    align-self: center;
    justify-content: center;
}

/* .dropdown {
    background-color: #dfdfdf;
    list-style: none;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    left: 14;
    top: 24;
}

.dropdown li {
    position: relative;
} */

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 2%;
    width: 250px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    border-radius: 10px;
    border: 1px solid #cacaca;
    background-color: #ffffff;
    z-index: 1000;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.sub-menu-link p {
    width: 500px;
}

.sub-menu-link p {
    color: #585858;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 20px;
    transition: transform 0.5s;
}

.sub-menu-link .arrow {
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover .arrow{
    transform: translateX(5px);
}
