/* .faq {
    flex: 5;
    top: 70px;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    align-items: center;
}


.header {
    background-color: #516E53;
    height: 300px;
}

.faq-header h1 {
    color: #D9D9D9;
}

.faq-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 70px;
}

.faq-cards .cards {
    width: 800px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 5px;
}

.faq-cards .cards:hover {
    box-shadow: 0 0 5px #a1a1a3;
    transition: transform 250ms;

}

.cards {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
.question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
  
.icon {
    color: #516E53;
}
  
.answer {
    margin-top: 5px;
}
 */
 .faq {
    flex: 5;
    top: 70px;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    align-items: center;
    padding-bottom: 80px;
 }

 .header {
    background-color: #516E53;
    height: 300px;
    margin-bottom: 20px;
}

.faq-header h1 {
    color: #D9D9D9;
}  

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width:800px;
}

.items {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 15px 15px;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title h2 {
    font-size: 17px;
    color:#454545;

}

.title span {
    cursor: pointer;
    font-size: 20px;
}

.content {
    font-size: 16px;
    color: #505050;    
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.content.show {
    height:auto;
    max-height: 9999px;
    transition: all 0.1s ease-in-out;
    margin-top: 20px;
}
