 .faq {
    flex: 5;
    top: 70px;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    align-items: center;
    padding-bottom: 80px;
 }

 .header {
    /* background-color: #516E53; */
    height: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    background-image: url("/images/upbgfaq.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.faq-header {
    text-align: center;
}

.faq-header h1 {
    color: #ffffff;
    margin: 0;
}  
.faqs-h1 {
    font-size: 140px; 
}
.faq-h1{
    font-size: 30px; 

}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width:800px;
}

.items {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 15px 15px;
    border-radius: 10px;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title h2 {
    font-size: 17px;
    color:#454545;

}

.title span {
    cursor: pointer;
    font-size: 20px;
}

.content {
    font-size: 16px;
    color: #505050;    
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.content.show {
    /* height:auto; */
    max-height: 9999px;
    /* transition: all 0.1s ease-in-out; */
    margin-top: 10px;
}

@media (max-width: 768px) {
    .faq {
        padding: 20px; 
    }

    .accordion {
        width: 100%; 
    }

    .items {
        padding: 10px; 
    }

    .title h2 {
        font-size: 16px; 
    }

    .title span {
        font-size: 18px; 
    }
}