:root {
    --text-color: #3B5534;
}

.sign-up-wrap {
    margin: 70px 100px;
}

.sign-up-header img {
    width: 150px;
    height: auto;
}

.sign-up-header p {
    font-size: 14px;
    color: #3B5534;
}

.sign-up-header h3 {
    color: var(--text-color);
    font-weight: 700;
    padding: 30px 0 5px 0;
}

.form-wrapper-one {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.sign-up-wrap .input-field {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 10px 20px 10px 0;
}

.input-field label {
    color: var(--text-color);
    padding: 7px 0;
}

.input-field input, .input-field select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    background: #D5D5D5;
    padding-left: 10px;
    width: 300px; 
}

.input-field .if-sm {
    display: flex;
}

.if-sm select, .if-sm input{
    width: 130px;
}

.input-field input:focus, .input-field select:focus {
    outline: none;
}

.error-message {
    color: #dd3535;
    font-size: .8rem;
    position: absolute;
    margin-top: 80px;
}

.input-field.error input, .input-field.error select {
    border: 1px solid #dd3535;
}


.next-btn {
    width: 217px;
    height: 44px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin: 30px 0 20px 0;
    transition: .3s;
    border: none;
    background-color: #516e53; 
    border: 1px solid #516e53; 
}

.next-btn:hover {
    border: 1px solid #9c9c9c;
    background: #D5D5D5; 
    color: #9c9c9c;
    cursor: pointer; 
}

.have-account-two {
    margin: 10px 0;
    font-size: 12px;
    color: var(--text-color);
}

.have-account-two span {
    font-weight: bold;
    color: var(--text-color);
}

.have-account-two span:hover {
    text-decoration: underline;
}

/* style for the error fields */

.error-message {
    color: #dd3535;
    font-size: .8rem;
    position: absolute;
    margin-top: 80px;
}

.input-field-two.error input {
    border: 1px solid #dd3535;
}
