.calendar-page {
    width: 100vw; 
    height: 95vh; 
    display: flex;
    flex: 5;
    justify-content: center; 
    align-items: center; 
    background-color: #EEEEEE;
  }
  
.calendar-container {
    height: 500px; 
    width: 80%; 
    max-width: 1500px; 
    border-radius: 8px; 
    margin: 50px;
    margin-top: 2px;
}

.modal {
    display: block;
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 5%;
    right: 0;
}

.modal-dialog {
    margin: 1rem auto;
    max-width: 500px;
  }
  
.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: #516E53;
}
  
.modal-header {
    padding: 1rem;
    border-bottom: 2px solid #516E53;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-body {
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .calendar-container {
        width: 90%; /* Adjust width for smaller screens */
        margin: 20px; /* Adjust margin for smaller screens */
    }

    .modal-dialog {
        max-width: 100%; /* Adjust max-width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .calendar-container {
        width: 95%; /* Further adjust width for even smaller screens */
    }

    .modal-dialog {
        max-width: 100%; /* Further adjust max-width for even smaller screens */
    }
}