.books-page {
  flex: 5;
  top: 70px;
  display: flex;
  flex-direction: column;
  background-color: #F7FAFB;
  align-items: center;
  padding-top: 40px;
}

.books-custom-card {
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.inventory-line {
  width: 100%;
  border-bottom: 1px solid #646464;
}

.table-header {
  text-align: center;
}

.del-icon {
  padding-left: 10px;
  color: #6D0606;
}

/*buttons*/
.display-button {
  background-color: #3B5534;
  color: #fff;
  transition: background-color 0.3s ease;
}

.display-button:hover {
  background-color: #28a745;
}

.reset-button {
  background-color: #6D0606;
  color: #fff;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #842d26;
}

.btn-add {
  background-color: #020E2D;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #25127d;
}

.btn-edit {
  background-color: #3B5534;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #28a745;
}

.btn-delete {
  background-color: #6D0606;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #702714;
}

.modal-books {
  margin: auto;
}

@media screen and (max-width: 576px) {
  .books-page {
    padding-top: 80px;
  }

  .books-custom-card {
    margin-bottom: 10px;
  }

  .inventory-line {
    margin-bottom: 5px;
  }

  .table-header th {
    font-size: 12px;
  }

  .btn-edit,
  .btn-delete {
    font-size: 10px;
    padding: 4px 6px;
  }

  .btn-add  {
    width: 200px;
  }

  .books-page .col-md-2 {
    width: 90%;
    margin-bottom: 10px;
    padding-left: 50px;
  }

  .display-button,
  .reset-button {
    width: 100px;
  }

}
