.uniforms-page {
  flex: 5;
  top: 70px;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  align-items: center;
  padding-top: 40px;
}

.uniform-custom-card {
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.inventory-line {
  width: 100%;
  border-bottom: 2px solid black;
  margin: 10px;
  /* This creates a solid black line */
}


.table-header {
  text-align: center;
}

.del-icon {
  padding-left: 10px;
  color: #6D0606;
}

/*buttons*/
.display-button {
  background-color: #3B5534;
  color: #fff;
  transition: background-color 0.3s ease;
}

.display-button:hover {
  background-color: #28a745;
}

.reset-button {
  background-color: #6D0606;
  color: #fff;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #842d26;
}

.btn-add {
  background-color: #020E2D;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #25127d;
}

.btn-edit {
  background-color: #3B5534;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #28a745;
}

.btn-delete {
  background-color: #6D0606;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #702714;
}

.uniforms-container table {
  text-align: center;
}


.modal-unif {
  margin: auto;
}



@media screen and (max-width: 768px) {
  .uniforms-page {
    padding-top: 80px;
  }

  .uniform-custom-card {
    margin-bottom: 50px;
  }

  .btn-edit,
  .btn-delete {
    width: 30%; 
    margin-bottom: 10px; 
  }

  .uniforms-page .row {
    flex-direction: column;
  }

  .uniforms-page .col-md-2 {
    width: 100%;
    margin-bottom: 10px;
    /* padding-left: 100px; */
  }

  .display-button,
  .reset-button {
    width: 100px;
  }

  .btn-add {
    width: 150px;

  }

  .table-container {
    overflow-x: auto;
  }
  .uniforms-container table {
    padding: 10px;
  }

  td, th {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .uniforms-page {
    padding-top: 80px;
  }

  .uniform-custom-card {
    margin-bottom: 30px;
  }

  .btn-edit,
  .btn-delete {
    width: 100%; 
    margin-bottom: 10px; 
  }

  .uniforms-page .col-md-2 {
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
  }

  .display-button,
  .reset-button {
    width: 100px;
  }

  .btn-add {
    width: 210px;

  }

}
