.uniforms-page {
    flex: 5;
    top: 70px;
    display: flex;
    flex-direction: column;
    background-color: #8c8c8c50;
    align-items: center;
    padding-top: 120px;
    height: 800px;
}

/* Button Color */
.display-button {
    background-color: #3B5534; 
    color: #fff; 
  }
  
  .reset-button {
    background-color: #6D0606; 
    color: #fff; 
  }

