.add-post {
  flex: 5;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.add-post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addP-header {
  width: 700px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: none;
}

.post-form {
  flex: 1;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background: #e1e1e1;
  color: rgb(27, 37, 32);
  border: none;
  outline: none;
  resize: none;
}

.addP-header .add-button {
  border: none;
  color: #676767;
  background-color: #d9d9d9;
}

.post-form:focus,
.post-form:valid {
  border-color: #cacaca;
}

.post-form::placeholder {
  color: rgba(27, 37, 32, 0.5);
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts {
  position: relative;
  width: 700px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.post-content {
  position: relative;
  margin: 20px;
  color: #676767;
  margin-bottom: 10px;
}

.post-content .edit-button {
  position: absolute;
  top: 10px;
  right: 60px;
  border: none;
  background-color: #d9d9d9;
  color: #676767;
}

.post-content .delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #d9d9d9;
  color: #676767;
}

.post-content p {
  word-wrap: break-word;
}

.post-content h4 {
  font-size: 25px;
}

.post-content .mins {
  font-size: 10px;
  margin-bottom: 30px;
}

.reactions {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 10px;
  border: none;
  color: #676767;
}

.reactions .heart-button {
  border: none;
  background-color: #d9d9d9;
  color: #676767;
}

.admin-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
