.calendar-page {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex: 5;
    justify-content: center; 
    align-items: center; 
  }
  
.calendar-container {
    height: 600px; 
    width: 80%; 
    max-width: 1500px; 
    border-radius: 8px; 
    margin: 50px;
    margin-top: 2px;
}