.forgot-pass-page{
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    background-image: url('/images/blurry_upbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #eeeeee;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-pass-back {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    color: #494949;
}

.line {
    height: 1px;
    background-color: #8c8c8c5c;
}

.forgot-password-heading {
    font-size: 24px;
    color: #494949;
    text-align: center;
}

.form-label {
    display: block;
    font-size: 16px;
    color: #555;
}

.form-group {
    margin: 10px 0;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    background: #D5D5D5;

}

.form-input:focus {
    border-color: #007bff;
}

.error-message {
    color: #dc3545;
    font-size: 13px;
}

.forgot-submit-button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #516E53;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
